<!--<div class="row">
    <div class="col-xs-12">
        <h3>Vegetarian</h3>
    </div> -->
    <div class="menu-item col-xs-6">
        <div style="width:100%;">
            <div class="item-container">
                <div class="pull-left text-desc">
                    <p>House Pickles</p>

                    <div class="clearfix"></div>
                    <span>Here is some description.. Did you know this?</span>
                </div>
                <span class="pull-right text-price">&#8377; 4.95</span>
            </div>
        </div>
    </div>
<!-- </div> -->